$accent-color: #FBDABB;

.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    font-size: 14px;

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .footer-sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .footer-section {
      flex: 1;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 25px;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 15px;
          margin-bottom: 10px;
        }

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            color: $accent-color;
          }
        }
      }

      p {
        margin-bottom: 10px;
      }

      .social-icons {
        display: flex;
        gap: 20px;

        li {
          margin-right: 0;

          a {
            color: #333;
            font-size: 20px;
            transition: color 0.5s ease ;

            &:hover {
                color: $accent-color;
            }
          }
        }
      }
    }

    .footer-bottom {
      border-top: 1px solid #ddd;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;
        max-width: 160px;
        margin-bottom: 15px;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 768px) {
      .footer-sections {
        flex-direction: column;
      }

      .footer-section {
        margin-right: 0;
        margin-bottom: 30px;
      }

      .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }